*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Create the botton to change the mode of the webpage*/
.icon{
    display: inline-block;
    width: 90px;
    height: 30px;
    margin-top: 9px;
    margin-right: 20px;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
}
.float-right{
    float:right;
}

.icon::before{
    content: "\f0eb";
    font-family: fontAwesome;
    width: 40px;
    height: 40px;
    background-color: #b3cde0;
    color: #6497b1;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, .25);
    position: absolute;
    top: -5px;
    left: 0;
    display: grid;
    place-content: center;
    line-height: 0;
    transition: background-color 1s,
    transform 1s ease-in;
    box-shadow: 0px 0px 8px 8px rgba(10, 0, 0, 0.6);
}
/* dark mode */

.body.dark{
    background: #202026;    
}

.body.dark img.logo{ 
    box-shadow: 0px 0px 8px 8px rgba(255, 253, 253, 0.6);
}

.body.dark .icon::before{
    content: "\f0eb";
    color: #0088d2;
    background-color: #1f257f;
    transform: translateX(50px) rotate(360deg);
    box-shadow: 0px 0px 8px 8px rgba(255, 253, 253, 0.6);
}

.body.dark .content{
    background: #323840;
    box-shadow: 0px 0px 8px 8px rgba(255, 253, 253, 0.6);
}

.body.dark p{
    color: #fff;
}

.body.dark h1{
    color: #fff;
}

.body.dark a{
    color: #fff;
}

.body.dark li{
    color: #ffffff;/*This changes the color of the writing when it's dark*/
}

.body.dark #navMenu > span{
    background-color: white;
}

.body.dark ul svg{
    fill: #fff;
}
.body.dark .todo{/*This changes the colour of the box cointeiner when it's dark*/
background:#202026;
}

/*Meu codigo comeca aqui*/
body{
    background-image: radial-gradient(circle, #b3cde0, #005b96);
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
}

header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button{
    color:#03396c;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: #03396c;
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list {
    min-width: 30%;
    list-style: none;
}
.todo {
    margin: 0.5rem;
    background: rgb(255, 255, 255);/*Changed this*/
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo li{
    flex: 1;
}
.trash-btn, 
.complete-btn {
    background: #ff6f47;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}
.complete-btn {
    background: rgb(73, 204, 73);
}
.todo-item{
    padding: 0rem 0.5rem;
}
.fa-trash, 
.fa-check{
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}
.fall{
    transform: translate(8rem) rotateZ(20deg);
    opacity: 0;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}
select{
    color: #03396c;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}
.select::after {
    content:"\25BC";
    position: absolute;
    background: #03396c;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select::after {
    background: white;
    color: #03396c;
}